# Зависимости
node_modules/

# Среда
.env
.env.local
.env.development
.env.production

# Логове
*.log
npm-debug.log*

# Операционна система
.DS_Store
Thumbs.db

# Vite (frontend)
dist/
.vite/
*.local

# Редактори
.vscode/
.idea/
*.swp
*.swo

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/